{%load static%}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Electronic Core
    </title>
    <link rel="shortcut icon" type="image/x-icon" href="/static/core/images/logo.jpg">
    <link rel="stylesheet" type="text/css" href="/static/core/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/core/css/style.css">
  </head>
  <body>
    <div class="container-fluid px-0 me-lg-5">
      <div class="bg-dark p-1 d-flex">
        <div class="w-50">
          <div class="d-flex align-items-center ms-lg-auto mt-lg-0 mt-3 pe-2">
              <i class=" me-2 fa fa-phone text-info"></i>
              <span class="text-info my-auto" style="font-size: 13px;">(+237) 65471312 / 697865434</span>
          </div>
        </div>
        <div class="w-25"></div>
        <div class="d-flex justify-content-end pe-2 w-25">
          <i class="fa fa-heart text-danger my-auto mx-2"> <span class="num rounded-circle">0</span></i>
          <a href="{% url 'core:cart' %}">
            <i class="fa fa-shopping-bag text-info mx-2"> <span class="num rounded-circle">0</span> </i>
          </a>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-light command topnav" id="myTopNav">
        <div class="container-fluid pe-lg-2 p-0"> <a class="navbar-brand fw-bold ms-2 fs-3" href="{% url 'core:home' %}">Electronic Core</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarcontent" aria-controls="navbarcontent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
              <div class="collapse navbar-collapse" id="navbarcontent">
                  <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                      <li class="nav-item"> <a class="nav-link pe-3 me-4 fw-bold active" aria-current="page" href="{% url 'core:home' %}">Accueil</a> </li>
                      <li class="nav-item">
                        <a class="nav-link pe-3 me-4 fw-bold" href="{% url 'core:shop' %}">
                        Boutique</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pe-3 me-4 fw-bold" href="{% url 'core:account' %}">Mon compte</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pe-3 me-4 fw-bold" href="{% url 'core:cart' %}">Panier</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pe-3 me-4 fw-bold" href="{% url 'core:home' %}#contact">CONTACT</a>
                      </li>
                  </ul>
                  <div class="d-flex ms-auto">
                    <a href="{% url 'core:signup' %}" class="btn btn-primary text-dark mx-1 bg-transparent border border-2 border-primary">
                      S'inscrire
                    </a>
                    <a href="{% url 'core:login' %}" class="btn btn-primary mx-1">
                      Login
                    </a>
                  </div>
              </div>
          </div>
      </nav>
          
      {% block content %}

            

      {% endblock %}

    </div>
          

    <footer>
      <div class="content p-5">
        <div class="top d-flex justify-content-between mb-4">
          <div class="logo-details">
            <h2 class="logo_name text-white">Electronic Core</h2>
            <p class="mt-4 text-secondary">
              Electronic for all
            </p>
          </div>
          <div class="media-icons d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <p class="text-light">Livraison gratuite et sécurisée</p>
            <a href="#" class="text-secondary text-decoration-none"><i class="fa fa-location-arrow"></i>
              Yaoundé, Douala et Bafoussam
            </a><br /><br/>
            <a href="#" class="text-secondary text-decoration-none"><i class="fa fa-phone"></i>
              Tel: +237 655443388
            </a><br /><br/>
            <a href="#" class="text-secondary text-decoration-none"><i class="fa fa-envelope"></i>
              email: contact@electroniccore.com
            </a>      
          </ul>
          <ul class="box">
            <li class="link_name">Liens Rapides</li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon panier</a></li>
            <li><a href="#">Boutique</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Catégories</li>
            {%for category in categories %}
              <li><a href="#">category.name</a></li>
            {% endfor %}
             
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li><a href="#">+237 654 371 312</a></li>
            <li><a href="#">+237 693 039 514</a></li>
            <li><a href="#">jugalux111@gmail.com</a></li>
            
          
          </ul>
            }
            }
        </div>
      </div>
          <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text">Copyright © 2021 <a href="#">YaknemaStage</a></span>
            <span class="policy_terms">
              <a href="#">Privacy policy</a>
              
            </span>
          </div>
        </div>
    </footer>



    <script type="text/javascript" src="/static/core/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/core/js/script.js"></script>
  </body>
</html>
