{%load static%}
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
      {% block title %}
      {% endblock %}
    </title>
		<link rel="shortcut icon" type="image/x-icon" href="/static/core/images/logo.jpg">
		<link rel="stylesheet" type="text/css" href="/static/core/css/bootstrap.min.css">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/core/css/style.css">
    
	</head>
	<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
      <div class="container-fluid">
        <a class="navbar-brand fs-3 fw-bold text-primary" href="#">Electronic Core</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Accueil</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Boutique</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Catégories
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Ordinateurs & Laptops</a></li>
                <li><a class="dropdown-item" href="#">Téléphones & Tablettes</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Accessoires</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Contact</a>
            </li>
          </ul>
          <!-- Button trigger modal -->
          <div class="d-flex">

            {% include "core/signup.html" %}
            {% include "core/login.html" %}
            
          </div>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
      <div class="content p-5">
        <div class="top d-flex justify-content-between mb-4">
          <div class="logo-details">
            <h2 class="logo_name text-white">Electronic Core</h2>
            <p class="mt-4 text-secondary">
              Electronic for all
            </p>
          </div>
          <div class="media-icons d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-youtube"></i></a>
          </div>
        </div>
        <div class="link-boxes">
          <ul class="box">
            <p class="text-light">Livraison gratuite et sécurisée</p>
            <a href="#" class="text-secondary text-decoration-none"><i class="fa fa-location-arrow"></i>
              Yaoundé, Douala et Bafoussam
            </a><br /><br/>
            <a href="#" class="text-secondary text-decoration-none"><i class="fa fa-phone"></i>
              Tel: +237 655443388
            </a><br /><br/>
            <a href="#" class="text-secondary text-decoration-none"><i class="fa fa-envelope"></i>
              email: contact@electroniccore.com
            </a>      
          </ul>
          <ul class="box">
            <li class="link_name">Liens Rapides</li>
            <li><a href="#">Accueil</a></li>
            <li><a href="#">Mon panier</a></li>
            <li><a href="#">Boutique</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
          <ul class="box">
            <li class="link_name">Catégories</li>
            <li><a href="#">Smartphones et tablettes</a></li>
            <li><a href="#">Ordinateurs et laptop</a></li>
            <li><a href="#">Téléviseurs</a></li>
            <li><a href="#">Accessoires</a></li>      
          </ul>
          <ul class="box">
            <li class="link_name">Contact</li>
            <li><a href="#">+237 654 371 312</a></li>
            <li><a href="#">+237 693 039 514</a></li>
            <li><a href="#">jugalux111@gmail.com</a></li>
            
          
          </ul>
        </div>
      </div>
          <div class="bottom-details">
          <div class="bottom_text">
            <span class="copyright_text">Copyright © 2021 <a href="#">YaknemaStage</a></span>
            <span class="policy_terms">
              <a href="#">Privacy policy</a>
              
            </span>
          </div>
        </div>
    </footer>



    <script type="text/javascript" src="/static/core/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/static/core/js/script.js"></script>
  </body>
</html>