{% extends 'core/base.html' %}


{% block content %}

	<div class="container">
		<div class="row my-5 shadow-sm pb-lg-5 py-2 bg-light">
			<div class="col-lg-5 pt-5 mx-auto bg-transparent" id="userform">
				<h2 class="text-primary">Détails de facturation</h2>
				<form method="post" action="/">
			      <div class="d-grid my-3">
			        <label class="mb-2 text-secondary">Noms et prénoms</label>
			        <input type="text" name="name" class="form-control shadow-sm" required data-validation-required-message="Entrez un Nom" autocomplete="on">
			        </div>
			      <div class="d-grid my-3">
			        <label class="mb-2 text-secondary">Adresse Exacte</label>
			        <input type="text" name="adresss" class="form-control shadow-sm" required data-validation-required-message="Entrez une Adresse" autocomplete="on">
			      </div>
			      <div class="d-grid my-3">
			        <label class="mb-2 text-secondary">Téléphone</label>
			        <input type="tel" name="phone" class="form-control shadow-sm" required data-validation-required-message="Entrez un numéro de Téléphone" autocomplete="on">
			      </div>
			      <div class="d-grid my-3">
			        <label class="my-2 text-secondary">Quartier</label>
			        <input type="text" min="1" name="street" class="form-control shadow-sm" required data-validation-required-message="Entrez le nom du quartier" autocomplete="on">
			      </div>
			      <div class="d-grid my-3">
			        <label class="my-2 text-secondary">Ville</label>
			        <input type="text" min="1" name="city" class="form-control shadow-sm" required data-validation-required-message="Entrez le nom de la ville" autocomplete="on">
			      </div>
			      <div class="d-grid my-3">
			        <label class="mb-2 text-secondary">Note sur la commande</label>
			        <textarea type="text-area" name="note" class="form-control shadow-sm"></textarea>
			      </div>
			    </form>
			</div>
			<div class="col-lg-5 pt-2 mt-lg-5 mx-auto bg-transparent rounded">
				<h4 class="text-center mt-3 text-light bg-primary py-2 fw-bold">Votre Commande</h4>
				<div class="command p-5">
					<div class="d-flex bg-light px-3 justify-content-between pt-2">
						<p class="fs-5 text-uppercase text-dark">Produits</p>
						<p class="fs-5 text-dark">Total</p>
					</div>

					<div class="d-grid mt-3">
						<div class="d-flex px-3 justify-content-between py-3">
							<div class="d-grid my-auto">
								<p class="text-uppercase text-dark my-0">Ordinateur Asus * 3</p>
							</div>
							<p class="text-uppercase text-secondary my-auto">250 000 XFA</p>
						</div>
						<div class="d-flex px-3 justify-content-between py-3">
							<div class="d-grid my-auto">
								<p class="text-uppercase text-dark my-0">Ecran plasma</p>
							</div>
							<p class="text-uppercase text-secondary my-auto">250 000 XFA</p>
						</div>
						<div class="d-flex px-3 justify-content-between py-3">
							<div class="d-grid my-auto">
								<p class="text-uppercase text-dark my-0">Casque audio</p>
							</div>
							<p class="text-uppercase text-secondary my-auto">250 000 XFA</p>
						</div>
					</div>

					<div class="d-flex bg-transparent px-3 mt-3 justify-content-between pt-2 border border-1 border-primary border-bottom-0 border-start-0 border-end-0">
						<p class="fs-5 text-uppercase text-dark fw-bold">Total</p>
						<p class="fs-5 text-uppercase fw-bold text-primary">250 000 XFA</p>
					</div>

					<div class="d-flex mt-3 mt-lg-4">
						<input type="checkbox" name="policy" class="border-primary my-auto">
						<a href="#" class="text-success ms-2">J'accepte la politique de confidentialité</a>
					</div>
					<div class="mt-lg-3">
				      	{% include "core/payment.html" %}
				    </div>

				</div>
			</div>
		</div>
	</div>

{% endblock %}