{% extends 'core/account.html' %}


{% block contentAccount %}

	<div class="">
		<h5 class="text-start text-secondary text-uppercase mb-2">Mes commandes</h5>
		<div class="d-grid py-3">
			{%for order_item in order_items %}
			<div class="command_card d-flex justify-content-between my-2 me-auto shadow-sm rounded p-lg-2">
				<div class="w-25 ms-lg-5 my-auto mx-auto">
					<img src="{{order_item.product.get_main_image}}" class="img-fluid">
				</div>
				<div class="d-grid w-auto p-lg-3 py-2">
					<p class="fw-bold mb-2 my-0">{{order_item.product.title | slice:':100' }}</p>
					<div class="d-flex text-secondary justify-content-start">
						<p class="my-0 me-lg-3 mx-1">{{order_item.order.ordered_on |date:"SHORT_DATE_FORMAT" }}</p>
						<p class="text-danger mx-lg-3 mx-1 my-0">{{order_item.total_price}}XFA</p>
					</div>
				</div>
			</div>
			{%endfor%}
		</div>
	</div>
	<div class="row pull-right mt-5 mx-auto">
    <ul class="pagination">
        {% if order_items.has_previous %}
            <li class="previous"><a href="?page={{ order_items.previous_page_number }}"  class="text-decoration-none"><span aria-hidden="true">&larr;</span> page précédente</a></li>
        {% endif %}
        <li class="disabled"><a href="#" class="text-decoration-none">Page {{ order_items.number }} sur {{ order_items.paginator.num_pages }}</a></li>
        {% if order_items.has_next %}
            <li><a href="?page={{ order_items.next_page_number }}"  class="text-decoration-none"> page suivante <span aria-hidden="true">&rarr;</span></a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}