{% extends 'core/base.html' %}


{% block content %}

	<div class="row px-2 mb-lg-5">
        <div class="col-lg-3 mb-lg-0 mb-2">
            <p> <a class="btn btn-primary p-3 w-100 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#collapseCategorie" role="button" aria-expanded="true" aria-controls="collapseCategorie"> <i class="fa fa-bars"><span class="ps-3">Toutes les catégories</span></i> <i class="fa fa-chevron-down"></i> </a> </p>
            <div class="collapse show border" id="collapseCategorie">
                <ul class="list-unstyled">
                   {% for category in categories %}
                        <li><a class="dropdown-item" href="{% url 'core:show_category' category.slug %}">{{ category.name }}</a></li>
					{%endfor%}
                    
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="d-lg-flex">
                <div class="d-lg-flex justify-content-between align-items-center border w-75">
                    <div class="dropdown my-lg-0 my-2"> <button class="btn btn-transparent d-flex justify-content-between align-items-center py-lg-2" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="true"> <span class="d-flex align-items-center"><span class="fw-lighter pe-3"> Categories</span> <i class="fa fa-chevron-down ms-auto"></i> </span> </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        	{% for category in categories %}
                            	<li><a class="dropdown-item" href="{% url 'core:show_category' category.slug %}">{{ category.name }}</a></li>
							{%endfor%}
                            
                        </ul>
                    </div>
                    <div class="d-flex align-items-center ps-lg-0 w-75">
                    	<form class="d-flex" method='POST' action ="{% url 'core:search' %}">
                                {%csrf_token%}
						        <input class="py-lg-2 w-100 border-0" type="text" name="searched" placeholder="Rechercher un article">
						        <button class="btn btn-primary py-lg-2 d-flex align-items-center justify-content-center" type="submit">Rechercher</button>
						</form>
                    </div>
                </div>
                <!---->
            </div>
            <div class="row d-lg-flex flex-lg-row d-flex flex-column-reverse bg-light py-lg-5 mt-5">
                <div class="col-lg-5 mx-auto">
                    <p class="p-green text-success">Nouveau</p>
                    <P class="fs-5 fw-bold">Pack complet</P>
                    <p class="fs-4 fw-bold">Téléphones et Tablette</p>
                    <p class="text-muted mb-4">une montre en bonus</p>
                    <div class="">
                    	<a href="{% url 'core:cart' %}" class="btn btn-secondary py-2 fw-bold px-3"/>
							<i class="fa fa-shopping-cart me-2"></i>
				        	Ajouter au panier
				        </a>
                    </div>
                </div>
                <div class="col-lg-5 mx-auto">
                	<img src="/static/core/images/phone2.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
    	<div class="mx-5 border border-1 border-top-0 border-start-0 border-end-0">
    		<h5 class="text-uppercase text-center my-3">Catégories</h5>
    		<div class="border border-primary mx-auto w-25"></div>
    	</div>
    	<div class="row pt-5">
    		<div class="col-lg-2 m-auto">
    			<img src="/static/core/images/cable1.png" height="100px" class="img-fluid  w-100">
    			<p class="text-secondary my-3 text-center">Accessoires</p>
    		</div>
    		<div class="col-lg-2 m-auto">
    			<img src="/static/core/images/ordi1.png" height="100px" class="img-fluid  w-100">
    			<p class="text-secondary my-3 text-center">Ordinateur</p>
    		</div>
    		<div class="col-lg-2 m-auto">
    			<img src="/static/core/images/camera2.png" height="100px" class="img-fluid  w-100">
    			<p class="text-secondary my-3 text-center">Caméra</p>
    		</div>
    		<div class="col-lg-2 m-auto">
    			<img src="/static/core/images/souris2.png" height="100px" class="img-fluid  w-100">
    			<p class="text-secondary my-3 text-center">Souris</p>
    		</div>
    	</div>
    </div>

    <div class="container my-5 pt-lg-5">
    	<div class="mx-5 border border-1 border-top-0 border-start-0 border-end-0">
    		<h5 class="text-uppercase text-center my-3">Aperçus produits</h5>
    		<div class="border border-primary mx-auto w-25"></div>
    	</div>
		<div class="row pt-5">
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/souris2.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Souris 2</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/ecran4.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Ecran 4</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/camera1.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Camera 1</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/clavier2.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Clavier 2</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
		</div>
		<div class="d-flex justify-content-end me-lg-5 mr-3 mt-lg-5">
			<a href="{% url 'core:shop' %}" class="btn btn-larger fw-bold btn-block px-3 p-2">
            	Visiter la boutique
            	<i class="fa fa-arrow-right"></i>
            </a>
		</div>
    </div>

{% endblock %}
