{% extends 'core/base.html' %}


{% block content %}

	<div class="row px-2 mb-lg-5">
        <div class="col-lg-3 mb-lg-0 mb-2">
            <p> <a class="btn btn-primary p-3 w-100 d-flex align-items-center justify-content-between" data-bs-toggle="collapse" href="#collapseCategorie" role="button" aria-expanded="true" aria-controls="collapseCategorie"> <i class="fa fa-bars"><span class="ps-3">Toutes les catégories</span></i> <i class="fa fa-chevron-down"></i> </a> </p>
            <div class="collapse show border" id="collapseCategorie">
                <ul class="list-unstyled">
                   {% for category in categories %}
                        <li class="my-2"><a class="dropdown-item" href="{% url 'core:show_category' category.slug %}">{{ category.name }}</a></li>
					{%endfor%}
                </ul>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="d-lg-flex">
                <div class="d-lg-flex justify-content-between align-items-center border w-75">
                    <div class="dropdown my-lg-0 my-2"> <button class="btn btn-transparent d-flex justify-content-between align-items-center py-lg-2" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="true"> <span class="d-flex align-items-center"><span class="fw-lighter pe-3"> Categories</span> <i class="fa fa-chevron-down ms-auto"></i> </span> </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        	{% for category in categories %}
                            	<li class="my-2"><a class="dropdown-item" href="{% url 'core:show_category' category.slug %}">{{ category.name }}</a></li>
							{%endfor%}
                            
                        </ul>
                    </div>
                    <div class="d-flex align-items-center ps-lg-0">
                    	<form class="d-flex justify-content-between" method='POST' action ="{% url 'core:search' %}">
                                {%csrf_token%}
						        <input class="py-lg-2 w-100 border-0" type="text" name="searched" placeholder="Rechercher un article">
						        <button class="btn btn-primary py-lg-2 d-flex justify-content-end" type="submit">Rechercher</button>
						</form>
                    </div>
                </div>
                <!---->
            </div>
            <div class="row d-lg-flex flex-lg-row d-flex flex-column-reverse bg-light py-lg-5 mt-5">
                <div class="col-lg-5 mx-auto">
                    <p class="p-green text-success">Nouveau</p>
                    <P class="fs-5 fw-bold">Pack complet</P>
                    <p class="fs-4 fw-bold">Téléphones et Tablette</p>
                    <p class="text-muted mb-4">une montre en bonus</p>
                    <div class="">
                    	<a href="{% url 'core:cart' %}" class="btn btn-secondary py-2 fw-bold px-3"/>
							<i class="fa fa-shopping-cart me-2"></i>
				        	Ajouter au panier
				        </a>
                    </div>
                </div>
                <div class="col-lg-5 mx-auto">
                	<img src="/static/core/images/phone2.png" class="w-100" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5">
    	<div class="mx-5 border border-1 border-top-0 border-start-0 border-end-0">
    		<h5 class="text-uppercase text-center my-3">Catégories</h5>
    		<div class="border border-primary mx-auto w-25"></div>
    	</div>
    	<div class="row pt-5">
    		
    	</div>
    </div>


    <div class="container-fluid mt-5">
	    <div class="row">
		    <div class="col-lg-4 mx-auto shadow pt-5 rounded">
		    	<div id="carouselExampleDark" class="carousel h-100 carousel-dark slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active" data-bs-interval="10000">
						  <img src="/static/core/images/casque1.png" class="d-block w-75 mx-auto" alt="...">
						  <div class="my-5 py-5"></div>
						  <div class="carousel-caption d-none d-md-block">
						    <h5 class="fw-bold">Casques à gogo</h5>
						    <p>Lorem ipsum sit amet consectur</p>
						  </div>
						</div>
						<div class="carousel-item" data-bs-interval="2000">
						  <img src="/static/core/images/ecran2.png" class="d-block w-75 mx-auto" alt="...">
						  <div class="my-5 py-5"></div>
						  <div class="carousel-caption d-none d-md-block">
						    <h5 class="fw-bold">Votre bureau complet</h5>
						    <p>Lorem ipsum sit amet consectur</p>
						  </div>
						</div>
						<div class="carousel-item">
						  <img src="/static/core/images/souris2.png" class="d-block w-75 mx-auto" alt="...">
						  <div class="my-5 py-5"></div>
						  <div class="carousel-caption d-none d-md-block mt-auto">
						    <h5 class="fw-bold">Nouvelle souris</h5>
						    <p>Lorem ipsum sit amet consectur</p>
						  </div>
						</div>
					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
					</div>
		    </div>
		    <div class="col-lg-8 mx-auto">
		    	<div class="mx-5 border border-1 border-top-0 border-start-0 border-end-0">
		    		<h5 class="text-uppercase text-center">Aperçus produits</h5>
		    		<div class="border border-primary mx-auto w-25"></div>
		    	</div>
				<div class="row pt-5">
					<div class="col-lg-4 mt-3">
						{% for product in products %}
							<div class="product rounded p-2 h-100">
								{% for picture in pictures %}
							  		<img src="{{picture.url}}" class="img-fluid" alt="" />
							  	{% endfor %}
							  <div class="overlay">
							  	<div class="d-flex justify-content-center mt-5">
								    <a href="{% url 'core:cart' %}" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
								    	<i class="fa fa-shopping-cart"></i>
						            </a>
						            <a href="#" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
								    	<i class="fa fa-eye my-auto"></i>
						            </a>
					            </div>
							   </div>
							   <div class="ps-1 mt-3 w-100">
									<p class="text-secondary my-0">{{ product.category_id }}</p>
									<div class="d-flex justify-content-between">
										<p class="fs-5 my-auto">{{ product.title }}</p>
										<p class="my-auto me-lg-3">{{ product.price }} XFA</p>
									</div>
							   </div>
							</div>
						{% endfor %}
					</div>
				</div>
				<!--Button here-->
		    </div>
		</div>
		<!-- Second section of products -->
		<div class="container">
		<div class="row mt-5">
			<div class="col-lg-3 mt-3">
				<div class="product rounded p-2 h-100">
				  <img src="/static/core/images/ecran4.png" class="img-fluid" alt="" />
				  <div class="overlay">
				  	<div class="d-flex justify-content-center mt-5">
					    <a href="{% url 'core:cart' %}" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-shopping-cart"></i>
			            </a>
			            <a href="#" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-eye my-auto"></i>
			            </a>
		            </div>
				   </div>
				   <div class="ps-1 mt-3 w-100">
						<p class="text-secondary my-0">Ordinateur</p>
						<div class="d-flex justify-content-between">
							<p class="fs-5 my-auto">Asus 4SP</p>
							<p class="my-auto me-lg-3">200 000 XFA</p>
						</div>
				   </div>
				</div>
			</div>
			<div class="col-lg-3 mt-3">
				<div class="product rounded p-2 h-100">
				  <img src="/static/core/images/ecran4.png" class="img-fluid" alt="" />
				  <div class="overlay">
				  	<div class="d-flex justify-content-center mt-5">
					    <a href="{% url 'core:cart' %}" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-shopping-cart"></i>
			            </a>
			            <a href="#" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-eye my-auto"></i>
			            </a>
		            </div>
				   </div>
				   <div class="ps-1 mt-3 w-100">
						<p class="text-secondary my-0">Ordinateur</p>
						<div class="d-flex justify-content-between">
							<p class="fs-5 my-auto">Asus 4SP</p>
							<p class="my-auto me-lg-3">200 000 XFA</p>
						</div>
				   </div>
				</div>
			</div>
			<div class="col-lg-3 mt-3">
				<div class="product rounded p-2 h-100">
				  <img src="/static/core/images/ecran4.png" class="img-fluid" alt="" />
				  <div class="overlay">
				  	<div class="d-flex justify-content-center mt-5">
					    <a href="{% url 'core:cart' %}" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-shopping-cart"></i>
			            </a>
			            <a href="#" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-eye my-auto"></i>
			            </a>
		            </div>
				   </div>
				   <div class="ps-1 mt-3 w-100">
						<p class="text-secondary my-0">Ordinateur</p>
						<div class="d-flex justify-content-between">
							<p class="fs-5 my-auto">Asus 4SP</p>
							<p class="my-auto me-lg-3">200 000 XFA</p>
						</div>
				   </div>
				</div>
			</div>
			<div class="col-lg-3 mt-3">
				<div class="product rounded p-2 h-100">
				  <img src="/static/core/images/ecran4.png" class="img-fluid" alt="" />
				  <div class="overlay">
				  	<div class="d-flex justify-content-center mt-5">
					    <a href="{% url 'core:cart' %}" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-shopping-cart"></i>
			            </a>
			            <a href="#" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
					    	<i class="fa fa-eye my-auto"></i>
			            </a>
		            </div>
				   </div>
				   <div class="ps-1 mt-3 w-100">
						<p class="text-secondary my-0">Ordinateur</p>
						<div class="d-flex justify-content-between">
							<p class="fs-5 my-auto">Asus 4SP</p>
							<p class="my-auto me-lg-3">200 000 XFA</p>
						</div>
				   </div>
				</div>
			</div>
				<!--Button here-->
				<div class="d-flex justify-content-end me-lg-5 mr-3 mt-lg-5">
					<a href="{% url 'core:shop' %}" class="btn btn-larger fw-bold btn-block px-3 p-2">
		            	Visiter la boutique
		            	<i class="fa fa-arrow-right"></i>
		            </a>
				</div>
		</div>
		</div>
	</div>

    <div class="container-fluid mt-5 pt-lg-5" id="contact">
    	<div class="container mx-auto border border-1 border-top-0 border-start-0 border-end-0">
    		<h5 class="text-uppercase text-center my-3">Comment nous joindre ?</h5>
    		<div class="border border-primary mx-auto w-25"></div>
    	</div>
		<div class="row py-5 mt-3 mt-lg-5" style="background-image: url(/static/core/images/bg_about.png); background-size: cover; background-attachment: fixed;">

			<div class="col-lg-5 m-auto">
				<h4 class="text-center my-1 fw-bold text-uppercase text-white">Contact</h4>
				<div class="d-flex justify-content-around mx-lg-5 my-lg-3 bg-light rounded py-2 py-lg-3">
					<a href="#" class="contact_icon"><i class="fa fa-4x fa-whatsapp"></i></a>
					<a href="#" class="contact_icon"><i class="fa fa-4x fa-instagram"></i></a>
					<a href="#" class="contact_icon"><i class="fa fa-4x fa-facebook"></i></a>
					<a href="#" class="contact_icon"><i class="fa fa-4x fa-envelope"></i></a>
				</div>
			</div>

			<div class="col-lg-5 mx-auto mt-3">
				<h4 class="text-uppercase text-info">A propos de nous</h4>
				<p class="text-light">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>

		</div>
	</div>
    <div class="container my-5 pt-lg-5">
    	<div class="mx-5 border border-1 border-top-0 border-start-0 border-end-0">
    		<h5 class="text-uppercase text-center my-3">Aperçus produits</h5>
    		<div class="border border-primary mx-auto w-25"></div>
    	</div>
		<div class="row pt-5">
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/souris2.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Souris 2</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/ecran4.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Ecran 4</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/camera1.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Camera 1</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
			<div class="col-lg-2 mx-auto mt-3">
				<div class="product">
				  <img src="/static/core/images/clavier2.png" class="w-100" alt="" />
				  <div class="overlay">
				    <span class="fs-5">Clavier 2</span>
				  </div>
				</div>
				<div class="bg-primary ps-1 w-100">
					<p class="text-light">Prix: 20 000 XFA</p>
				 </div>
			</div>
		</div>
		<div class="d-flex justify-content-end me-lg-5 mr-3 mt-lg-5">
			<a href="{% url 'core:shop' %}" class="btn btn-larger fw-bold btn-block px-3 p-2">
            	Visiter la boutique
            	<i class="fa fa-arrow-right"></i>
            </a>
		</div>
    </div>

{% endblock %}
