<!-- Button trigger modal -->
    <button type="submit" class="button w-100 bg-transparent fw-bold text-primary border border-2 border-primary p-2" data-bs-toggle="modal" data-bs-target="#payment">
      Commander
    </button>

    <!-- Modal connexion -->
    <div class="modal fade mt-5 pt-lg-5" id="payment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="signinLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h3 class="modal-title fw-bold ms-auto text-white text-uppercase" id="signinLabel">
            <i class="fa fa-money"></i>
            Paiement</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" style="background-image: url(/static/core/images/bg1.webp);" id="form2">
            <div class="container">
              <div id="userform2" class="p-5 my-3">
                    <form method="POST" action="{% url 'core:payment' %}"> 
                      {{ csrf_token }}
                      <div class="form-group">
                        <input type="number" class="form-control bg-transparent text-dark p-3 border-1" id="username" required data-validation-required-message="Entrez un username" autocomplete="on" placeholder="Numéro carte de crédit">
                        <p class="help-block text-danger"></p>
                      </div>
                      <div class="mrgn-30-top d-flex justify-content-center">
                        <button type="submit" class="btn btn-larger fw-bold btn-block px-3 p-2"/>
                        Payer {{cart.price }} XFA
                        </button>
                      </div>
                    </form>
              </div>
            </div>
            <!-- /.container --> 
          </div>
        </div>
      </div>
    </div>
