{% extends 'core/base.html' %}


{% block content %}

	<div class="container-fluid my-5">
		<a href="{% url 'core:home' %}" class="btn btn-larger fw-bold btn-block px-3 p-2"/>
			<i class="fa fa-arrow-left"></i>
        	retour à l'accueil
        </a>
		<div class="row">
			<div class="col-lg-5 ms-lg-5 p-lg-5">
				<img src="{{product.get_main_image}}" class="w-100">
			</div>
			<div class="col-lg-6 my-auto">
				<div class="border p-3 rounded">
					<p class="fs-3 text-primary">{{product.title}}</p>
					<div class="d-flex justify-content-between">
						<div class="d-grid">
							<p class="fs-5 fw-bold my-auto">{{product.price}} XFA</p>
							<p class="text-secondary my-auto">Taxes locales incluses</p>
						</div>
						<p class="my-auto text-success"><i class="fa fa-check"></i>En stock</p>
					</div>
					<div class="d-grid mt-3" style="width:100px;">
						<input type="number" name="" min="1" placeholder="Quantité" class="w-100 border border-1 bg-transparent text-center border-primary" style="-moz-appearance: textfield;">
					</div>
					<p class="mt-lg-4 mt-3"><h5 class="text-dark">Description</h5>

				<!--  Debut petite description  -->
					{{product.mini_desc.html|safe}}</p>
				<!--  Fin petite description  -->

					<div class="d-flex justify-content-end">
						<a href="{% url 'core:add_cart' product.slug %}" class="btn btn-larger btn-primary text-light mt-3 fw-bold btn-block px-3 p-2"/>
							<i class="fa fa-shopping-cart"></i>
				        	Ajouter au panier
				        </a>
					</div>
				</div>
			</div>
		</div>

			<div class="container d-flex justify-content-center">
				<div class="row">
					{% for img in pictures %}
					<div class="col-lg-2">
						<img src="{{img.image.url}}" class="img-fluid shadow-sm rounded">
					</div>
					{%endfor%}
				</div>
			</div>

		<!-- Détails lié au produit -->
		<div class="container mt-5">
			<div class="ps-0 mb-5 border border-primary border-top-0 border-start-0 border-end-0">
				<div class="bg-primary d-flex p-2 justify-content-start" style="width: 80px;">
					<p class="text-light m-auto">Détails</p>
				</div>
			</div>


			<div class="pt-5">
				<!--  Debut grande description  -->
				{{product.full_desc.html|safe}}
				<!--  Fin grande description  -->

			</div>
		</div>
	</div>

{% endblock %}
