{% extends 'core/base.html' %}

{% block content %}

	<div class="container-fluid py-3">
		<div class="row">
			<div class="col-lg-4 py-5 ms-lg-5 ps-5  rounded mx-auto">
				<h5 class="text-danger">Produit en solde</h5>
				<h2 class="fw-bold text-secondary">Ordinteur KTS</h2>
				<p class="text-success">120 000 XFA</p>
				<div class="mt-auto d-flex mb-1">
					<a href="#" class="p-2 fw-bold text-light bg-primary text-decoration-none rounded">Ajouter au panier</a>
				</div>
				<a href="#" class="text-secondary">Voir les produits en solde</a>
			</div>
			<div class="col-lg-6 mx-auto">
				<img src="/static/core/images/tablette1.png" class="w-100">
			</div>
		</div>

		<div class="row mt-3">
	<div class="row mt-3">
			<div class="col-lg-3 mx-auto py-5">
				<p class="fw-bold">Filtrer par prix</p>

				<div class="d-grid ms-2">
					<div class="d-flex">
						<input type="number" placeholder="min" min="0" name="min" class="text-center rounded-pill border w-25" style="-moz-appearance: textfield">
						<input type="number" placeholder="max" min="0" name="max" class="text-center rounded-pill border w-25" style="-moz-appearance: textfield">
						<button type="submit" class="py-1 px-3 text-decoration-none rounded-pill bg-primary text-center ms-lg-3 text-light">Filtrer</button>
					</div>
				</div>

				<p class="fw-bold mt-3">Autre</p>
				<div class="d-flex justify-content-start">
					<a href="{% url 'core:filter' 'en-solde' %}" class="py-1 px-2 text-decoration-none border border-1 rounded-pill border-primary mx-2">En solde</a>
					<a href="{% url 'core:filter' 'en-solde' %}" class="py-1 px-2 text-decoration-none border border-1 rounded-pill border-primary mx-2">Nouveautés</a>
				</div>
				<div class="mt-5 d-grid">
					<p class="fw-bold mb-3">Filtrer par Catégorie</p>
					{% for category in categories %}
                    	<a href="{% url 'core:show_category' category.slug %}" class="text-secondary my-2 text-decoration-none">
						{{ category.name }}
						</a>
					{%endfor%}
					
				</div>
			</div>

			<div class="col-lg-8 mx-auto py-5">

				<div class="d-flex justify-content-between mb-5 border border-secondary border-top-0 border-start-0 border-end-0">
					
					<p class="text-secondary"><span class="text-danger">Tous</span> nos produits</p>
					<div class="d-flex">
						<div>
							<a class="nav-link dropdown-toggle text-secondary" href="#" id="sortBy" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Trier par
							</a>
							<ul class="dropdown-menu dropdown-menu-light" aria-labelledby="sortBy">
								<li><a class="dropdown-item" href="{% url 'core:sort' 'plus-recent' %}">Plus recents</a></li>
								<li><a class="dropdown-item" href="{% url 'core:sort' 'plus-anciens' %}">Plus anciens</a></li>
								<li><a class="dropdown-item" href="{% url 'core:sort' 'bas-haut' %}">Prix: bas - haut </a></li>
								<li><a class="dropdown-item" href="{% url 'core:sort' 'haut-bas' %}">Prix: haut - bas </a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<!--
					{% for product in products %}
						<div class="col-lg-3 mx-lg-4 mt-3">
							<div class="product">
								{% for picture in pictures %}
							  		<img src="{{picture.url}}" class="w-100" alt="" />
							  	{% endfor %}
							  	<div class="overlay">
							    	<span class="fs-5">{{ product.title }}</span>
							  	</div>
							</div>
							<div class="bg-primary ps-1 w-100">
								<p class="text-light">Prix: {{ product.price}} XFA</p>
						 	</div>
						</div>
					{% endfor %}
					-->
					<div class="col-lg-4 mt-3">
						{% for product in products %}
							<div class="product rounded p-2 h-100">
								{% for picture in pictures %}
							  		<img src="{{picture.url}}" class="img-fluid" alt="" />
							  	{% endfor %}
							  <div class="overlay">
							  	<div class="d-flex justify-content-center mt-5">
								    <a href="{% url 'core:cart' %}" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
								    	<i class="fa fa-shopping-cart"></i>
						            </a>
						            <a href="#" class="btn btn-larger text-primary border-light bg-light fw-bold btn-block px-3 p-2 mx-2">
								    	<i class="fa fa-eye my-auto"></i>
						            </a>
					            </div>
							   </div>
							   <div class="ps-1 mt-3 w-100">
									<p class="text-secondary my-0">{{ product.category_id }}</p>
									<div class="d-flex justify-content-between">
										<p class="fs-5 my-auto">{{ product.title }}</p>
										<p class="my-auto me-lg-3">{{ product.price }} XFA</p>
									</div>
							   </div>
							</div>
						{% endfor %}
					</div>
				</div>

				<div class="row pull-right">
                    <ul class="pagination">
                        {% if products.has_previous %}
                            <li class="previous"><a href="?page={{ products.previous_page_number }}"><span aria-hidden="true">&larr;</span> page précédente</a></li>
                        {% endif %}
                        <li class="disabled"><a href="#">Page {{ products.number }} sur {{ products.paginator.num_pages }}</a></li>
                        {% if products.has_next %}
                            <li><a href="?page={{ products.next_page_number }}"> page suivante <span aria-hidden="true">&rarr;</span></a></li>
                        {% endif %}
                    </ul>
                </div>

			</div>
		</div>
	</div>	

{% endblock %}

