{% extends 'core/base.html' %}


{% block content %}

            <div class="container my-5">
              <div id="userform" class="p-5 my-3">
                  <form> 
                    <div class="form-group">
                      <!--<label class="highlight">Nom<span class="req">*</span> </label>-->
                      <input type="text" class="form-control bg-transparent text-dark p-3 border-1" id="username" required data-validation-required-message="Entrez un username" autocomplete="on" placeholder="Username">
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                      <!--<label class="highlight"> Adresse Email<span class="req">*</span> </label>-->
                      <input type="email" class="form-control bg-transparent text-dark p-3 border-1" id="email" required data-validation-required-message="Entrez votre adresse Email" autocomplete="on" placeholder="Adresse Email">
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                      <!--<label class="highlight"> Mot de passe<span class="req">*</span> </label>-->
                      <input type="password" class="form-control bg-transparent text-dark p-3 border-1" id="password" required data-validation-required-message="Mot de passe requis" autocomplete="off" placeholder="Mot de passe">
                      <p class="help-block text-danger"></p>
                    </div>
                    <div class="mrgn-30-top d-flex justify-content-center">
                      <button type="submit" class="btn btn-larger fw-bold btn-block px-3 p-2"/>
                      S'inscrire
                      </button>
                    </div>
                  </form>
              </div>
            </div>

{% endblock %}
