body, html {
  height:100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Dosis', sans-serif;
}

.btn:focus, .btn:active, .btn.active, .btn:active:focus {
  outline: 0;
  border-radius: 0;
}

.btn-larger {
  border:2px solid royalblue;
  border-radius: 0px;
  color: royalblue;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
}
.btn-larger:hover, .btn-larger:focus, .btn-larger:active, .btn-larger.active, .open .dropdown-toggle.btn-larger {
  border-color: royalblue;
  color: #fff;
  background-color: royalblue;
  border-radius: 0
}

#form {
  color: #fff;
  background: url(../core/images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#form2 {
  color: #fff;
  background: #1c1e21 url('{{ STATIC_URL }}core/bg2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#userform {
  background: rgba(241, 247, 255, .8);
}
#userform .form-control {
  border-radius: 0;
  border: 1px solid #fff;
}
#userform .form-control:focus {
  border-color: royalblue;
  box-shadow: none;
}
#userform2 {
  background: rgba(241, 247, 255, .8);
}
#userform2 .form-control {
  border-radius: 0;
  border: 1px solid #fff;
}
#userform2 .form-control:focus {
  border-color: royalblue;
  box-shadow: none;
}
.form-group label {
  position: relative;
  -webkit-transform: translateY(35px);
  -ms-transform: translateY(35px);
  transform: translateY(35px);
  left: 10px;
  top: 0px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 12px;
  font-weight: 300;
}
.form-group label .req {
  margin: 2px;
  color: royalblue;
}

#userform label.highlight {
  color: #ffffff;
}

.mrgn-30-top {
  margin-top: 30px
}

/* Footer */

footer{
  background: #000;
  width: 100%;
  bottom: 0;
  left: 0;
}
footer::before{
  content: '';
  left: 0;
  top: 100px;
  height: 1px;
  width: 100%;
  background: #000;
}
.content .top .media-icons a{
  height: 40px;
  width: 40px;
  margin: 0 8px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-size: 17px;
  text-decoration: none;
  transition: all 0.4s ease;
}
.top .media-icons a:nth-child(1){
  background: #4267B2;
}
.top .media-icons a:nth-child(1):hover{
  color: #4267B2;
  background: #fff;
}
.top .media-icons a:nth-child(2){
  background: #1DA1F2;
}
.top .media-icons a:nth-child(2):hover{
  color: #1DA1F2;
  background: #fff;
}
.top .media-icons a:nth-child(3){
  background: #E1306C;
}
.top .media-icons a:nth-child(3):hover{
  color: #E1306C;
  background: #fff;
}
.top .media-icons a:nth-child(4){
  background: #0077B5;
}
.top .media-icons a:nth-child(4):hover{
  color: #0077B5;
  background: #fff;
}
.top .media-icons a:nth-child(5){
  background: #FF0000;
}
.top .media-icons a:nth-child(5):hover{
  color: #FF0000;
  background: #fff;
}
footer .quickLink a{
  color: white;
}
footer .quickLink a:hover{
  color: skyblue;
}
.bg_footer{
  background-color: #B9D3EE;
}




/* Shop page */


/* Price Range slider */



/* Product card */

.product{
  height: 150px;
  position: relative;
  overflow: hidden;
}

.product:hover .overlay{
  opacity: 1;
  transform: scale(1);
}

.overlay{
  position: absolute;
  background-color: rgba(65, 105, 255, 0.1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: scale(1.3);
  opacity: 0;
  transition: transform .4s ease 0s;
}

.overlay span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #fff;
  font-family: Sans-serif;
}

.product img{
  transition: transform .8s ease;
}

.product:hover img{
  transform: scale(0.9);
}


/* Form checkout */

input{
  outline: none;
}
.command{
  background: #B9D3EE;
}

/* cart page */

.row_cart:hover{
  background-color: #B9D3EE;
}

/* Home page */

.navbar .navbar-nav .nav-item .active {
    color: royalblue;
}
.btn{
  outline: none;
}
button{
  outline: none;
  border: none;
}
.contact_icon{
  color: #B9D3EE;
}
.contact_icon:hover{
  color: royalblue;
}

/* Dashboard Page */

.hide {
  display: none;
}
.text_dashboard{
  color: black;
}
.text_dashboard:hover{
  color: ;
  background-color: lightyellow;
}
.card_account a{
  color: grey;
}
.card_account a:hover{
  color: royalblue;
}
.card_account:hover{
  border-color: 1px solid royalblue;
  background-color: lightyellow;
}

/* formulaire inscription connexion */

.bg_signup{
  background: #B9D3EE !important;
}

/* Fixed header on scroll */


/* Command page */

.command_card{
  border-left: 5px solid steelblue;
}
.command_card:hover{
  background-color: #B9D3EE;
  border-left: 5px solid royalblue;
}
@media only screen and (max-width: 600px) {
  .command_card p{
    font-size: 14px;
  }
}


.bg_notFound{
  background-color: steelblue;
}